.icon-menu {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    &:before {
        background-size: 25px 25px;
        display: inline-block;
        width: 25px;
        height: 25px;
        position: relative;
        top: 3px;
        left: 5px;
        content: "";
    }
    &_speakit:before {
        background-image: url(./images/speaking.svg);
    }
    &_english-puzzle:before {
        background-image: url(./images/puzzle.svg);
    }
    &_savanna:before {
        background-image: url(./images/garden.svg);
    }
    &_audio-challenge:before {
        background-image: url(./images/music.svg);
    }
    &_sprint:before {
        background-image: url(./images/sport.svg);
    }
    &_learning:before {
        background-image: url(./images/student.svg);
    }
    &_promo:before {
        background-image: url(./images/info.svg);
    }
    &_settings:before {
        background-image: url(./images/gear.svg);
    }
    &_dictionary:before {
        background-image: url(./images/abc.svg);
    }
    &_statistics:before {
        background-image: url(./images/marketing.svg);
    }
    &_statistics_full:before {
        background-image: url(./images/presentation.svg);
    }

    &_logout:before {
        background-image: url(./images/logout.svg);
    }
}

.main-menu:hover,
nav.main-menu.expanded {
    width: 250px;
    overflow: visible;
}

.main-menu {
    background: #536976; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292e49, #536976); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #292e49,
        #536976
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-right: 1px solid #e5e5e5;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 60px;
    overflow: hidden;
    -webkit-transition: width 0.05s linear;
    transition: width 0.05s linear;
    transform: translateZ(0) scale(1, 1);
    -webkit-transform: translateZ(0) scale(1, 1);
    z-index: 1000;
}

.main-menu > ul {
    margin: 7px 0;
}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.main-menu li > a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #fffefe;
    font-size: 18px;
    text-decoration: none;
    transform: translateZ(0) scale(1, 1);
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.has-subnav {
    border-bottom: 1px solid #5d5b5b;
}

.main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
}

.main-menu > ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
}

.no-touch .scrollable.hover {
    overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
}

a:hover,
a:focus {
    text-decoration: none;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}
.main-menu li:hover > a,
nav.main-menu li.active > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
    color: #fff;
    background-color: #5fa2db;
}

#menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#menuToggle > span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 8px 6px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-6px, 3px);
    &.span-2 {
        transform: rotate(-45deg) translate(0, -1px);
    }
    &.span-3 {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
}

.menu-ul {
    position: absolute;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle input:checked ~ .menu-ul {
    transform: none;
}
