@media screen and (max-width: 1200px) {
    .container {
        width: 93%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin-top: 40px;
    }
}
