.dot-container-1 .dot {
    background-color: rgb(253, 14, 14);
}
.dot-container-2 .dot {
    background-color: rgb(255, 175, 1);
}
.dot-container-3 .dot {
    background-color: rgb(247, 255, 129);
}
.dot-container-4 .dot {
    background-color: rgb(0, 241, 189);
}
.dot-container-5 .dot {
    background-color: rgb(60, 255, 0);
}
.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    & + .dot {
        margin-left: 3px;
    }
}

.nav.nav-tabs,
.tab-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
