.wordCard{
    width: 100%; 
    flex: none !important;
}

@media (min-width: 576px) { 
    .wordCard{
        width: 40%;    
    }
}
@media (min-width: 768px)  { 
    .wordCard{
        width: 35%;    
    }
}
@media (min-width: 992px)  { 
    .wordCard{
        width: 20%;    
    }
}

.dot+.dot {
   margin-left: 3px;
}
.dot-container-1 .dot{
    background-color: rgb(253, 14, 14);
}
.dot-container-2 .dot{
    background-color: rgb(255, 175, 1);
}
.dot-container-3 .dot{
    background-color: rgb(247, 255, 129);
}
.dot-container-4 .dot{
    background-color: rgb(0, 241, 189);
}
.dot-container-5 .dot{
    background-color: rgb(60, 255, 0);
}
.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}