.statistics-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.statistics-content {
    display: flex;
    justify-content: space-between;
}

.statistics-wrapper h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    border-radius: 5px;
    height: 150px;
    color: rgb(43, 17, 73);
    background: url(assets/img/gif-salut2.png) no-repeat center;
    //background: url(assets/img/saljut.png) no-repeat center;
    background-size: cover;
}

.statistics-name {
    background:  linear-gradient(to top right, rgb(20, 24, 61), rgb(29, 36, 91), rgb(38, 49, 120), rgb(47, 61, 150), rgb(56, 74, 179), rgb(65, 86, 209), rgb(68, 73, 193), rgb(71, 60, 177), rgb(75, 48, 161), rgb(78, 35, 144), rgb(81, 22, 128), rgb(84, 9, 112));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}

.statistics-value {
    font-size: 20px;
    font-weight: 700;
    color: rgb(43, 17, 73);
}