.speakit-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    .speakit {

        .picture-container {

            display: flex;
            justify-content: center;
            padding: 20px;

            .picture {
                text-align: center;
                height: 250px;
            }
        }

        .word-translation {
            text-align: center;
        }

        .words-wrapper {
            display: flex;
            justify-content: center;

            .words {
                display: grid;
                width: 100%;
                grid-template-columns: repeat(5, 1fr);
            }
        }

        .controls {
            display: flex;
            padding: 5px;

            button {
                flex: 1;
                margin-right: 10px;
            }

            button:last-child {
                margin-right: 0;
            }

            .big-button {
                flex: 3;
            }

        }
    }
}


@media(max-width: 1024px) {
    .speakit-container {
    
        .speakit {
    
            .picture-container {
                width: 100%;

                .picture {
                    height: unset;
                    width: 100%;
                }
            }

            .words-wrapper {
                .words {
                    grid-template-columns: repeat(auto-fill, 50%);
                }
            }
        }
    }
}