.speakit-container {
    display: flex;
    justify-content: center;

    .speakit {
        width: 80%;


        .picture-container {

            display: flex;
            justify-content: center;
            padding: 20px;

            .picture {
                text-align: center;
                height: 250px;
                border: 1px solid wheat;
            }
        }


        .words {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
        }

        .controls {
            display: flex;

            button {
                flex: 1;
                margin-right: 10px;
            }

            .big-button {
                flex: 3;
            }

        }
    }


}