.audioChallenge {
	background: rgb(34,193,195);
	background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(124,162,174,1) 62%, rgba(255,168,62,1) 100%);
	border-radius: 0;
	position: relative;
	
	padding-left: 62px; // зависит от меню бокового
}