.audioChallenge__statistics {
	min-height: 90vh;

	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.btn-close {
	position: absolute;
	top: 5rem;
	right: 1rem;
}

.progressBar {
	width: 100%;
}