$stepper_color: rgb(89, 187, 89);
$stepper_color-hover: rgb(102, 212, 102);

.stepper-container {

    display:  flex;
    justify-content: flex-start;

    .stepper {
        position: relative;
        width: 250px;
        height: 50px;

        .line {
            position: absolute;
            top: 7px;
            z-index: -10;
            height: 5px;
            width: 190px;
            background-color: $stepper_color;
        }

        .dots-container {
            display: flex;
            
            height: 30px;
        }

        .dot {
            width: 20px;
            height: 20px;
            margin-right: 15px;
            border-radius: 20px;
            background-color: $stepper_color;
        }

        .dot:hover {
            background-color: $stepper_color-hover;
        }

        .active {
            // background-color: green;
            box-shadow: 0 0 0 2px $stepper_color, inset 0 0 0 2px #ffffff, inset 0 0 0 3px $stepper_color;
        }


    }

}