.dragndrop{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    max-width: 1020px;

    .droppable{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px;
        padding: 0px 10px ;
        border: 0.5px solid ;
        min-width: 40px;
        min-height: 35px;
        cursor: pointer;
        .error{
            color:red;
        }
        .correct{
            color: greenyellow;
        }
    }

    .dndData{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border: solid blue;
    }
    .dndResult{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border: solid greenyellow;

    }
    @media screen and (max-width: 680px){
        .droppable{
            padding: 3px;
        }
    }
}