#outer {
    position: relative;
    height: 100vh;

    #inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.points {
    font-size: 35px;
    color: #007bff;
    font-weight: bold;
}

.time {
    position: absolute;
    top: 25%;
    right: 25%;
    width: 75px;
    height: 75px;
    border: 5px solid #007bff;
    border-radius: 50%;

    .time-span {
        font-size: 20px;
        color: #007bff;
    }
}

.card {
    max-width: 700px;
    box-shadow: 0 0 10px rgba(61, 55, 61, 0.7);

    #points-info {
        height: 40px;
    }

    #correct, #wrong {
        visibility: hidden;
        max-width: 25px;
    }
}

.arrows {
    max-width: 500px;

    .arrow {
        font-size: 50px;
        cursor: pointer;
    }
    
    .left {
        color: #007bff;
    }
    
    .right {
        color: #dc3545;
    }
}

.stat-card {
    overflow-y: scroll;
    width: 300px;
    height: 600px;
}

@media screen and (max-width: 992px) {
    .time {
        position: relative;
        top: 0;
        right: 0;
    }

    .stat-card {
        width: 250px;
    }
}