#outer {
    position: relative;
    height: 100vh;

    #inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #ffd86f;
    }
}

.points {
    font-size: 35px;
    color: #114B5F;
    font-weight: bold;
}

.time {
    position: absolute;
    top: 25%;
    right: 25%;
    width: 75px;
    height: 75px;
    border: 5px solid #114B5F;
    border-radius: 50%;

    .time-span {
        font-size: 20px;
        color: #114B5F;
    }
}

.card {
    max-width: 700px;

    #points-info {
        height: 40px;
    }

    #correct, #wrong {
        visibility: hidden;
        max-width: 25px;
    }
    #correct {
        max-width: 50px;
    }

    #correct-button, #correct-button:hover, #correct-button:active, #correct-button:focus, #correct-button:visited {
        background-color: #5C9EAD;
        border: 2px solid #5C9EAD;
        color: white;
    }

    #wrong-button, #wrong-button:hover, #wrong-button:active, #wrong-button:focus, #wrong-button:visited {
        background-color: #CC2936;
        border: 2px solid #CC2936;
        color: white;
    }
}

.arrows {
    max-width: 500px;

    .arrow {
        font-size: 50px;
        cursor: pointer;
    }
    
    .left {
        color: #5C9EAD;
    }
    
    .right {
        color: #CC2936;
    }
}

.stat-card {
    overflow-y: scroll;
    width: 300px;
    height: 600px;
}


@media screen and (max-width: 992px) {
    .time {
        position: relative;
        top: 0;
        right: 0;
    }

    .stat-card {
        width: 250px;
    }
}