//colors
$primary: #F8F2EE;
$inner: #f5f5f5;
$menu: #5C9EAD;
$text: #114B5F;
$buttons: #ffd86f;
$white: white;
$red: #CC2936;

body {
    background-color: $primary;
    color: $text;
}

.navbar {
    background-color: $menu;
    // border-radius: 7px;
}

.main {
    margin: 0 auto;
    max-width: 1200px;
}

.main-menu {
    background-color: $menu;
}

.loader.main {
    background-color: $primary;
}

// div, button, .card {
//     border-radius: 7px;
// }

.btn, .btn:visited,  .btn:active, .btn:focus {
    background-color: $menu;
    border: 2px solid $menu;
    color: $white;
}

.btn:hover {
    background-color: $buttons;
    border: 2px solid $buttons;
    color: $text;
}

@media(max-width: 1024px) {
    .main {
        margin: 0;
        max-width: 100%;
    }
}
