@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.main {
  max-width: 100vw !important;
}

.container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding-bottom: 50px;
    padding-top: 20px;
}

.stone {
    position: absolute;
}

.yellow {
    width: 54%;
    top: -50%;
    left: -25%;
}

.blue {
    width: 50%;
    bottom: -5%;
    right: -40%;
    transform: rotate(90deg);
}

.buttonStart {
    width: 300px;
    height: 50px;
    background: radial-gradient(circle, darken(#9bceda, 10%), #5C9EAD, #2a4c53, #132225);
    border-radius: 7px;
    border: none;
    color: #fff;
    font-size: 20px;
    box-shadow: 5px 5px 2px #ccc;
    transition: ease-in-out .3s;
}

.buttonStart:hover {
    cursor: pointer;
    width: 302px;
    box-shadow: 6px 6px 2px rgb(180, 179, 179);
    transition: ease-in-out .3s;
}

.buttonStart:active {
    width: 300px;
    box-shadow: none;
    transition: ease-in-out .3s;
}

.buttonStart:active,
.buttonStart:focus,
.buttonStart {
    outline: none;
}

.content {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.btn-group-common {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 30px;
    background: #ffd86f ;
    border-radius: 7px;
    border: none;
    color: #103481;
    font-size: 16px;
    box-shadow: 5px 5px 2px #ccc;
    transition: ease-in-out .3s;
    margin-right: 10px;
}

.btn-group-common:hover {
    cursor: pointer;
    box-shadow: 6px 6px 2px rgb(180, 179, 179);
    transition: ease-in-out .3s;
}

.btn-group-common:active {
    width: 120px;
    box-shadow: none;
    transition: ease-in-out .3s;
}

.btn-group-common:active,
.btn-group-common:focus,
.btn-group-common {
    outline: none;
}

.groupButtons {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.quot–µ {
    width: 80%;
    height: 300px;
    z-index: 1;
    font-family: 'Caveat', cursive;
    font-size: 36px;
    color: #114B5F;
}

.second-row {
    margin-left: 15%;
}

.third-row {
    margin-left: 20%;
}

.fourth-row {
    margin-left: 35%;
}

.fifth-row {
    margin-left: 50%;
}
